<p>Ciao <%= @resource.email %>!</p>

<p>Qualcuno ha richiesto un cambio di password, puoi effettuarlo al link qui sotto</p>

<p><%= link_to 'Cambia password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se non sei stato te ignora questa mail</p>
<p>la tua password non cambiera finche non entrerai sul link qui sotto e la cambierai</p>
